{
  "clusters": [
    {
      "name": "${cluster_name}",
      "aliases": [],
      "project": "${project_b_id}",
      "region": "${region}",
      "type": "gke",
      "environment": "production",
      "allowed_namespaces": [],
      "owner": "",
      "enabled": true
    }
  ]
}
